/* html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
/* все шрифты */
/* font-family: 'Montserrat', sans-serif;
font-family: 'Kaushan Script', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto Black', sans-serif;
font-family: 'Roboto', sans-serif; */

/* COMMON STYLES 
.link {
    text-decoration: none;
}
.list {
    list-style: none;
}
.titles {
    margin: 0 auto;
    padding: 0;
}
.section-titles {
    text-align: center;
    line-height: auto;
}
.kaushan-font {
    font-family: 'Kaushan Script', cursive;
}
.montserrat-font {
    font-family: 'Montserrat', bold;
    font-weight: bold;   
} */

/* HEADER */

/* .cover-eagle {
    background-image: url(../img/cover-eagle.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 1000px;
} */
/* .wrapper {
    margin: 0 auto;
    padding: 0;
    width: 1202px;
} */
/* .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 170px;
} */
/* .header__text--color { 
    color: #fff;
}
.header__logo--text {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 30px;
    line-height: auto;    
}
.header__site-nav {
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 622px;
}
.header__nav-menu {
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}
.header__nav-menu:hover {
    color: #fce38a;
}
.header__nav-underscore {
    position: relative;
    margin: 0 10px;
}
.header__nav-menu--color {
    color: #fff; 
}
.header__nav-underscore::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 3px;
    background: #fce38a;
    transform: scaleX(0);
    transition: transform 0.2s; 
    /* в задании 200мс то есть 0.2с 
}
.header__nav-underscore:hover::after {
    transform: scaleX(1);
}
.header__svg svg {
    width: 18px;
    height: 18px;
    fill: #fff;
}
.header__svg:hover svg {
    fill: #fce38a;
}
.header__titles {
    text-align: center;
    margin-bottom: 100px;
}
.header__first-title {
    font-size: 72px;
}
.header__second-title {
    font-size: 150px;
    width: 800px;
    line-height: 1;
}
.header__button {
    margin: 0 auto;
    text-align: center;
}
.header__button--background {
    background: none;
    width: 156px;
    height: 36px;
}
.header__button--border {
  border: 3px solid white;
} */

/* .button {
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bolder;
    cursor: pointer;
} */

/* SECTION_SERVICES */

/* .section-services__first-title {
    margin-top: 100px;
    margin-bottom: 16px;
    font-size: 24px;
}

.section-services__second-title {
    text-transform: uppercase;
    font-size: 30px;
} */
/* .underscore {
    position: relative;
}
.underscore::after {
    content: "";
    position: absolute;
    left: 570px;
    bottom: -38px;
    width: 60px;
    height: 3px;
    background: #f38181;
    transform: scaleX(0);
    transition: transform 0.2s; 
}
.underscore:hover::after {
    transform: scaleX(1);
} */
/* .section-services__services {
    display: flex;
    flex-wrap: wrap;
    height: 180px;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    margin-top: 106px;
    margin-bottom: 100px;
}
.section-services__item-services {
    display: flex;
    align-items: flex-start;
    flex-basis: 382px;
    flex-grow: 0;
    flex-shrink: 0;
    height: 164px;
    font-size: 0;
}
.section-services__item-services svg {
    width: 62px;
    height: 32px;
    fill: #95e1d3;
}
.section-services__about-services { 
    margin: 0 auto;
    padding: 0;
    padding-left: 30px;
}
.section-services__name-services {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #333333;
}
.section-services__text-services {
    font-family: 'Roboto Black', sans-serif;
    font-size: 15px;
    color: #999999;
} */
/* SECTION_TEAM */

/* .section-team__titles--first {
    font-size: 24px;
    margin-bottom: 16px;
}
.section-team__titles--second {
    font-size: 30px;
    text-transform: uppercase;
}

.section-team__about-our-team {
    margin-top: 88px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 24px;
    color: #999999;
}
.section-team__team-list {
    display: flex;
    flex-wrap: wrap;
    /* height: 180px;
    justify-content: space-between; 
    list-style: none;
    padding: 0;
    margin: 0 auto;
    margin-top: 106px;
}
.section-team__team-member {
    list-style: none;
    margin: 0 auto; 
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: flex-start; */
    /* position: relative;
    /* justify-content: center; */
    /* width: 382px; */
    /* flex-basis: 381px;
    height: 540px; */
    /* flex-grow: 0;
    flex-shrink: 0; */
    /* height: 164px; 
    font-size: 0;
} */
/* .section-team__overlay {
    position: absolute;
    width: 381px;
    height: 470px;
    opacity: 0;
    background: linear-gradient(to top, rgba(253, 211, 59, 0.9), rgba(243, 129, 129, 0.9));
} */
/* .section-team__overlay-icons { */
    /* margin: 0 auto; 
    padding: 0;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 207px;
    left: 78px;
    width: 224px;
    height: 56px;
    opacity: 0;
}

.section-team__icon {
    width: 55px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fce38a;
    text-decoration: none;
}
.section-team__icon svg {
    width: 26px;
    height: 26px;
    fill: #f38181;
}
.section-team__icon:hover {
    background-color: #95e1d3;
}
.section-team__icon svg:hover {
    fill: #fff;
    transition: fill 0.2s linear;
}
.section-team__team-member:hover .section-team__overlay-icons {
    opacity: 1;
}
.section-team__team-member:hover .section-team__overlay {
    opacity: 0.9;
}
.section-team__background {
    position: absolute;
    background-color: #95e1d3;
    width: 381px;
    height: 470px;
    z-index:-1;
}
.section-team__member-name {
    margin: 0 auto;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #333333;
    text-transform: uppercase;
    text-align: center;
}
.section-team__member-occupation {
    margin: 0 auto;
    padding: 0;
    font-family: 'Roboto', Light-Italic;
    color: #999999;
    font-size: 15px;
    text-align: center;
}

.section-team__team-member--left-overlay {
    transform: translate(0, 0);
    transition: translate 0.2s ease-in-out;
}
.section-team__team-member--left-overlay:hover {
    transform: translate(-10px, -10px);   
} */
/* FOOTER */

/* .footer-border {
    padding: 0;
    margin: 0 auto;
    margin-top: 80px;
    height: 1px;
    background: #cccccc;
}
.footer__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
}
.footer__info--text {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #333333;
}
.footer__info--colortext {
    color: #f38181;
}
.footer__input-button {
    display:flex;
}

.footer__input-button--intext {
    width: 230px;
    height: 40px;
    font-family: 'Roboto', Italic;
    font-weight: lighter;
    font-size: 15px;
    color: #cccccc;
    border-right: none;
}
.footer__button {
    background: #95e1d3;
    border-style: none;
    height: 40px;
    width: 150px;
} */

/* @media (min-resolution: 192dpi), (min-resolution: 2dppx) */
